
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
:root{
    --blue:#3c6382;
    --dark-blue:#0a3d62;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;


}
body{
  min-height: 85vh;
  width: 100%;
  background-image:linear-gradient(rgba(0,0,0,0.7),rgba(1,0,0,0.5)), url(../images/bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;

}
.container{
  width: 45%;
  height: 500px;
  background: #fff;
  border-radius: 6px;
  padding: 20px 60px 30px 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin-top: 40px;

}
.container .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .content .left-side{
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}
.content .left-side::before{
  content: '';
  position: absolute;
  height: 350px;
  width: 2px;
  right: -60px;
  top: 220px;
  transform: translateY(-50%);
  background-color:var(--blue);
}
.content .left-side .details{
  margin: 14px;
  text-align: center;

}

.container .content .right-side{
  width: 50%;
	margin-top: 60px;
  margin-right: 40px;

}
.content .right-side .topic-text{
  font-size: 23px;
  font-weight: 600;
  color:var(--blue);
  text-align: center;
  margin-top: 30px;
}
.right-side .input-box{
  height: 50px;
  width: 100%;
  margin: 12px 0;
}
.right-side .input-box input,
.right-side .input-box textarea{

  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #F0F1F8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
  color:var(--blue);

}
.right-side .message-box{
  min-height: 110px;
}
.right-side .input-box textarea{
  padding-top: 6px;
}
.right-side .button{
  display: inline-block;
  margin-top: 20px;

}
.right-side .button input[type="submit"]{
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background-color:var(--blue);
  cursor: pointer;
	width: 200px;
  transition: all 0.3s ease;
  margin-top: -10px;
  margin-bottom: 30px;
  margin-left: 100px;
}
.button input[type="submit"]:hover{
  background-color:var(--dark-blue);
}
.content .right-side .flow {
  margin-left: -100px;

}
.content .right-side img{
  width: 30px;
  height: 30px;


}
.container .right-side .flow{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;

}
.content .right-side .details .topic{
  font-size: 10px;
  color:var(--blue);
  font-weight: 500;
}
.content .right-side .details{
  margin: 50px 50px;
  text-align: center;
}

@media (max-width: 950px) {
  .container{
    width: 100%;
    padding: 30px 40px 40px 35px ;

  }
  .container .content .right-side{
   width: 75%;
   margin-left: 55px;
}
.button{

   margin-left: -290px;
}
.right-side input[type="file"]{
   float: left;
   margin-top: 30px;
   margin-left: 140px;
}

.content .right-side .topic-text{
  margin-top: 50px;
}
.content .right-side .details{
  margin: 10px 20px;
  text-align: center;
}
.content .right-side .flow {
  margin-left: 10px;

}
.right-side .button input[type="submit"]{
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background-color:var(--blue);
  cursor: pointer;
	width: 200px;
  transition: all 0.3s ease;
  margin-top: -10px;
  margin-bottom: 30px;
  margin-left: 350px;
}
}
@media (max-width: 820px) {
  .container{
    margin: 50px 0;
    height: 80%;
  }
  .container .content{
    flex-direction: column-reverse;
  }
 .container .content .left-side{
   font-size: 1.0em;
   flex-direction: row;
   margin-top: 40px;
   justify-content: center;
   flex-wrap: wrap;
 }
 .container .content .left-side::before{
   display: none;
 }
 .container .content .right-side{
   width: 100%;
   margin-left: 0;
 }
.flowicon{
  margin-top: 300px;
}
}
