@import url('https://fonts.googleapis.com/css2?family=Capriola&display=swap');

:root{
    --border:.1rem solid #fff;
}

*{
    font-family: 'Capriola', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border:none;
    text-transform: capitalize;
    transition: all .3s cubic-bezier(.38,1.15,.7,1.12);
    
}
body{
    background:#FEF8EA;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
  
}

section{
    padding:0.5rem 3%;
    
}
.heading{
    text-align: center;
    color:var(--blue);
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: normal;
    padding:1rem;
}
#menu{
    font-size: 4rem;
    color:#FEF8EA;
    cursor: pointer;
    display: none;
}

header.sticky #menu{
    color:#FEF8EA;
}
header{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top:0; left:0;
    z-index: 1000;
    padding:2rem;
}

header .logo{
    margin-left: 50px;
    color: #fff;
    text-decoration: none;
}

header .navbar {
    justify-content: space-between;
    transition: background-color 0.3s;
    z-index: 2;
    float: right;
    
}
header .navbar a{
    color: #FEF8EA;
    position: relative;
    padding: 8px 42px;
    text-decoration: none;
    font-size: 2rem;
    transition: border-color 0.3s; /* Add a transition effect for the underline */
    margin-right: 15px;
}

.navbar a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px; /* Adjust the height to control the underline thickness */
    background-color: #FEF8EA; /* Adjust the color of the underline */
    transform: scaleX(0); /* Initially, the underline is not visible */
    transform-origin: bottom right;
    transition: transform 0.6s;
}
.navbar a.active::before {
    background-color: #FEF8EA; /* When the link is active, set the underline color */
    transform: scaleX(1);
    transform-origin: bottom;
}

.navbar a:hover::before,
.navbar a:focus::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.navbar a.about-link.active::before {
    background-color: #FEF8EA;
}

.navbar a.animatedtales-section-link.active::before {
    background-color: #FEF8EA;
}

header.sticky{
    background-image: url('../images/bg.png');
    background-size: cover;
    background-attachment: fixed;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    text-decoration: none;
}
header.sticky a{
    color: #FEF8EA;
}




/* home */

.home{
    background-image: url('../images/bg.png');
    background-size: cover;
    background-attachment: fixed;
    padding: 100px;
    color: #000;
    position: relative;
    z-index: 999;
    height: 100vh;
    margin-top: -20px;
    color: #FEF8EA;
}
.home .content h1{
    font-size:6.5rem;  
    margin-top: 280px; 
    margin-bottom: 30px;
}
.home .content p{
    font-size: 2.5rem;  
    margin-bottom: 30px;
}

.home .wrap{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.home .wrap .content{
    text-align: left;
    padding:1rem;
     
}
.home .wrap .content .home-btn{
    background-color: #FEF8EA;
    color: #105D8C;
    border: none;
    border-radius: 40px; /* Adjust the border-radius for roundness */
    padding: 14px 40px 15px 40px;
    margin-left: 0px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s;

}
.home .wrap .content .home-btn a{
    text-decoration: none;
    color: #4681A1;
}
.home .wrap .content .home-btn a:hover{
    color: #FEF8EA;
}
.home .wrap .content  .home-btn:hover{
    background: linear-gradient(107.47deg, #12B899 0%, #2D98AB 98.81%),
    linear-gradient(0deg, #FFFFFF, #FFFFFF);
    color: #FEF8EA;
    transition: transform 1.5s;
}
    
.home .girl img{
    display: none;
    z-index: 1;
   
}

/* animated tales */
.animatedtales {
    z-index: 2;
}
.animatedtales .column1{
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    padding:3rem;
}
.animatedtales .column1 .title{
    font-size: 4rem;  
    margin-top: 20px; 
    margin-bottom: 50px;
    color: #4681A1;
    font-weight: bold;
}
.animatedtales .column1 .box img{
    width: 100%;
    height: 100%;
    border:.5rem solid #4681A1;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  
}
.animatedtales .column1 .box .btn{
    background-color: #2D98AB;
    color: #FEF8EA;
    border: none;
    border-radius: 40px; /* Adjust the border-radius for roundness */
    padding: 20px 60px 20px 60px;
    margin-left: 0px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: -500px;
    margin-left: 300px;
}
.animatedtales .column1 .box .btn:hover{
    background: linear-gradient(107.47deg, #12B899 0%, #2D98AB 98.81%),
    linear-gradient(0deg, #FFFFFF, #FFFFFF);
    color: #FEF8EA;
    transition: transform 1s;
}

.animatedtales .column2{
    flex-wrap: wrap;
}
.animatedtales .column2 .title{
    font-size: 4rem;  
    margin-top: 20px; 
    color: #4681A1;
    font-weight: bold;
    text-align: left;
}

.animatedtales .column2 .box-container{
    display: flex;
    padding: 0rem;
    text-align: left;
    margin-top: 50px;
}

.animatedtales .column2 .box-container .box{
    height: 100%;
    width: 100%;
     margin: 5px;
     padding: 5px 50px 5px;

}

.animatedtales .column2 .box-container .box h4{
    font-size: 2.5rem;
    color:#4681A1;
    font-weight: bold;
    margin-top: 30px;
}

.animatedtales .column2 .box-container .box p{
    font-size: 2.0rem;
    color:#4681A1;
    padding: 1rem 0;
}
.animatedtales .column2 .box-container .box .btn{
    background-color: #2D98AB;
    color: #FEF8EA;
    border: none;
    border-radius: 40px; /* Adjust the border-radius for roundness */
    padding: 20px 60px 20px 60px;
    margin-left: 0px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s; 
}
.animatedtales .column2 .box-container .box img{
    height: 100%;
    width: 100%;
    border-radius: 60px;
   
}
.animatedtales .column2 .box-container .box  .btn:hover{
    background: linear-gradient(107.47deg, #12B899 0%, #2D98AB 98.81%),
    linear-gradient(0deg, #FFFFFF, #FFFFFF);
    color: #FEF8EA;
}

/* about */

.abt {
    height: 90vh;
}
.abt .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.abt .row .content{
    text-align: center;
    padding:1rem;  
    height: 100%;
    width: 100%;
    margin-top: 200px;
    margin-left: -200px;
}
.abt .row .content h2{
    font-size: 8.5rem;  
    margin-top: 100px; 
    color: #4681A1;
}
.abt .row .content p{
    font-size: 2.5rem;  
    color: #4681A1;
}

.abt .row .content .btn{
    background-color: #2D98AB;
    color: #FEF8EA;
    border: none;
    border-radius: 40px; /* Adjust the border-radius for roundness */
    padding: 20px 60px 20px 60px;
    margin-left: 0px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.abt .row .content .btn a{
    text-decoration: none;
    color: #FEF8EA;
}
.abt .row .content  .btn:hover{
    background: linear-gradient(107.47deg, #12B899 0%, #2D98AB 98.81%),
    linear-gradient(0deg, #FFFFFF, #FFFFFF);
    color: #FEF8EA;
}
.abt .row .image img{
    width: 500px;
    height: 500px;
    float: right;
    margin-right: 100px;
    margin-top: -350px;
}



  /* about home page*/
  header{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top:0; left:0;
    z-index: 1000;
    padding:2rem;
    background-image: url('../images/bg.png');
    background-size: cover;
    background-attachment: fixed;
}
header.sticky{
    background-image: url('../images/bg.png');
    background-size: cover;
    background-attachment: fixed;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    text-decoration: none;
}

.abt-home{
    background-image: url('../images/panel2.jpg');
    background-size: cover;
    background-attachment: fixed;
    padding: 100px;
    color: #000;
    position: relative;
    z-index: 999;
    height: 100vh;
    margin-top: -20px;
    color: #FEF8EA; 
}
.abt-home .content {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(63, 63, 63, 0.5); /* Adjust the opacity by changing the last value (0.5 in this case) */
    z-index: -1; /* Ensures the overlay is behind other content */
  }
  
.abt-home .content h1{
    font-size:5.5rem;  
}

.abt-home .wrap{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.abt-home .wrap .content{
    padding:1rem;
     
}
.abt-home .wrap .content img{
    margin: 100px;
    width: 350px;
    margin-top: 300px;
     
}

.abt-sect{
	padding: 0 5rem;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 20%;
    margin-right: 20%;

}

.abt-sect .column1 .abt-content{
	margin: 20px;
    flex-wrap: wrap;
	
}
.abt-sect .column1 .abt-content h1{
	font-size: 40px;
	margin-bottom: 0;
    color: rgba(16, 93, 140, 1);
	
}
.abt-sect .column1 .abt-content p{
	font-size: 1.5rem;
	display: block;
	padding-bottom: 2rem;
	margin-top: 20px;
    color: rgba(16, 93, 140, 1);
    text-align: justify;
}
.abt-sect .column2 .title{
	font-size: 40px;
	margin-bottom: -50px;
    color: rgba(16, 93, 140, 1);
    text-align: center;
	
}
.abt-sect .column2 .box-container{
    display: flex;
    align-items: center;
    padding:5rem;
    text-align: left;
}
.abt-sect .column2 .box-container .box{
    height: 80%;
    width: 100%;
    margin: 20px;
 
     
}
.abt-sect .column2{
    flex-wrap: wrap;

}
.abt-sect .column2 .box-container .box img{
    height: 300px;
    width: 100%;
    border-radius: 100%;
    margin:15px;
    padding: 30px;
}
.abt-sect .column2 .box-container .box h1{
    margin-top: 0px;
	font-size: 2.0rem;
    color: rgba(16, 93, 140, 1);
    font-weight: bold;
    text-align: center;

}
.abt-sect .column2 .box-container .box h4{
	font-size: 1.5rem;
    color: rgba(16, 93, 140, 1);
    font-weight: bold;
    text-align: center;
}
.abt-sect .column3{
	text-align: left;
}
.abt-sect .column3 .abt-content{
	margin: 20px;
    flex-wrap: wrap;
    right: 0;
	
}
.abt-sect .column3 .abt-content h1{
	font-size: 2.5rem;
	margin-bottom: 0;
    color: rgba(16, 93, 140, 1);
    font-weight: bold;

	
}
.abt-sect .column3 .abt-content p{
	font-size: 1.5rem;
	padding-bottom: 2rem;
	margin-top: 20px;
    color: rgba(16, 93, 140, 1);
}

 /* animated tales page*/
 header{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top:0; left:0;
    z-index: 1000;
    padding:2rem;
    background-image: url('../images/bg.png');
    background-size: cover;
    background-attachment: fixed;
}
header.sticky{
    background-image: url('../images/bg.png');
    background-size: cover;
    background-attachment: fixed;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    text-decoration: none;
}

.tales-home{
    padding: 100px;
    color: #000;
    position: relative;
    color: rgba(16, 93, 140, 1);
    background-color:#FEF8EA; 
}
.tales-home .wrap h1{
    font-size:3.5rem;  
    font-weight: bold;
    text-align: left;
    margin: 50px;
    
}

.tales-home .wrap .container img{
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    margin: 0 10px;
    border-radius: 3px;
    background-color: rgba(16, 93, 140, 1);
    padding: 2px;
  }
  
  .tales-home .wrap .container {
    max-width: 200rem;
    height: auto;
    margin-inline: auto;
    padding-inline: 1.25rem;
    padding: 30px 0;
  }
  
  .swiper {
    &-button-next::after,
    &-button-prev::after {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0.75rem;
      font-weight: 800;
      padding: 1rem;
      width: 2rem;
      height: 2rem;
      opacity: 0.75;
      border-radius: 50%;
      color: rgba(16, 93, 140, 1);
      background: rgba(16, 93, 140, 1);
    }
  }

.tales-main {
    margin: 0;
    padding: 0;
}
.tales-main .tales{
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
.tales-main .tales .content h1{
    font-size:5.5rem;  
    margin-bottom: 20px;
    color: #FEF8EA;
}
.tales-main .tales .content p{
    font-size: 2.5rem;  
    margin-bottom: 30px;
    color: #FEF8EA;
}
.tales-main .tales .content h5{
    font-size:1.5rem;  
    color: #FEF8EA;
    font-weight: lighter;
}
.tales-main .tales.wrap{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.tales-main .tales .wrap .content{
    padding:25rem 50rem;
     
}
.tales-main .tales .wrap .content .tales-btn{
    background-color: #FEF8EA;
    color: #105D8C;
    border: none;
    border-radius: 40px; /* Adjust the border-radius for roundness */
    padding: 14px 40px 15px 40px;
    margin-left: 0px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 10px;

}
.tales-main .tales .wrap .content .tales-btn a{
    text-decoration: none;
    color: #4681A1;
}
.tales-main .tales .wrap .content .tales-btn a:hover{
    color: #FEF8EA;
}
.tales-main .tales.wrap .content  .tales-btn:hover{
    background: linear-gradient(107.47deg, #12B899 0%, #2D98AB 98.81%),
    linear-gradient(0deg, #FFFFFF, #fdcccc);
    color: #FEF8EA;
    transition: transform 1.5s;
}
.tales-main .bg1{
    background-image: url('../images/panel2.jpg');
}
.tales-main .bg-water{
    background-image: url('../images/bg3.png');
}
.tales-main .bg3{
    background-image: url('../images/panel5.jpg');
}
.tales-main .bg5{
    background-image: url('../images/panel6.jpg');
}
.tales-main .bg7{
    background-image: url('../images/panel4.jpg');
}
.tales-main .bg9{
    background-image: url('../images/panel3.jpg');
}
.tales-main .bg11{
    background-image: url('../images/panel1.jpg');
}

  /* modal*/
    .modal .modal-dialog .modal-content{
    background-color: #FEF8EA;
    color: #2D98AB;
  }
.modal .modal-dialog .modal-content .btn{
    background-color: #2D98AB;
    color: #FEF8EA;
    border: none;
    border-radius: 30px; /* Adjust the border-radius for roundness */
    padding: 10px 50px 10px;
    margin-left: 0px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 0px;
    
}
.modal .modal-dialog .modal-content .btn-secondary{
    margin-right: 72%;
}
.modal .modal-dialog .modal-content .btn-prev{
    margin-right: 84%;
}
.modal .modal-dialog .modal-content h5{
    font-size: 2.0rem;
    margin-left: 0%;
    font-weight: bold;
    color:#2D98AB;
}
.modal .modal-dialog .modal-content .dropdown .dropdown-menu{
    border-radius: 100px;
    padding: 10px 58px 10px;
    text-align: center;
    background-color: #FEF8EA;
}
.modal .modal-dialog .modal-content .dropdown .dropdown-menu .dropdown-item{
    font-size: 1.2rem;
    color: #2D98AB;
    
}


footer {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.50);
    background: linear-gradient(107.47deg, #12B899 0%, #2D98AB 98.81%),
    linear-gradient(0deg, #FFFFFF, #FFFFFF);
    color: #FEF8EA;
    height: 300px;
    padding: 20px 0;
  }
  
  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  .left{
    margin-left: -100px;
  }
  .left h2 {
    margin-bottom: 30px;
    margin-top: 50px;
    
  }
  
  .left ul {
    list-style-type: none;
    padding: 0;
  }
  
  .left ul li {
    margin-bottom: 5px;
    margin: 15px 2px;
}
  
  .left ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    transition: border-color 0.3s;
    font-weight: 100;
  }
  .right .social-links {
    list-style-type: none;
    padding: 0;
    display: flex;
    margin-right: -100px;
    margin-top: 0px;
  }
  
  .right .social-links li {
    margin-left: 5px;
   
  }
  
  .right .social-links li:first-child {
    margin-left: 0;
  }
  
  .right .social-links li a{
   font-size: 3.5rem;
   padding: 5px 10px 15px;
   text-decoration: none;
   color: #FEF8EA;

  }


.scroll-top{
    position: fixed;
    bottom:7.5rem; right:1.5rem;
    z-index: 1000;
}

.scroll-top img{
    width:8rem;
    animation: float 3s linear infinite;
}

@keyframes float{
    100%, 0%{
        transform: translateY(0rem);
    }

    50%{
        transform: translateY(-3rem);
    }

}










/* media queries  */

@media (max-width:1400px){

    html{
        font-size: 40%;   
    }
    .home .wrap .girl img{
        display: none;
    }
    .abt .row .image img{
        width: 400px;
        height: 400px;
        float: right;
        margin-right: 0px;
        margin-top: -350px;
    }
    .abt-sect .column2 .box-container .box img{
        width: 100%;
        height: 150px;
        margin: 0;
    }
    
}
@media (max-width:1200px){

    html{
        font-size: 35%;   
    }
    .home .wrap .girl img{
        display: none;
    }
    .column1 .modal .modal-dialog .modal-content .btn-prev{
        margin-right: 10%;
    }
    
    
}
@media (max-width:991px){

    section{
        padding:1rem 3%;
        padding-top: 0rem;
    }


    #menu{
        display: block;
    }
    header .logo{
      margin-left: 10px;
    }
    header .navbar{
        position: absolute;
        top:100%; left: 0;
        width:100%;
        background:#FEF8EA;
        padding:1.5rem;
        border-top: .1rem  solid rgba(0,0,0,.1);
        transform-origin: top;
        transform: scaleY(0);
        opacity: 0;
        flex-direction: column;
    }

    header .navbar.nav-toggle{
        transform: scaleY(1);
        opacity: 1;
    }

    header .navbar a{
        display: block;
        margin:3.0rem 1.2;
        font-size: 2rem;
         flex-direction: column;
         color: #000;
    }

    .fa-times{
        transform: rotate(180deg);
    }
    
    .home{
        background-size: cover;
        background-attachment: fixed;
        padding: 30px;
        color: #000;
        z-index: 999;
        height: 99vh;
        margin-top: -20px;
        color: #FEF8EA;
        
    }
    .home .content h1{
        font-size: 1.3rem;
        margin-top: 200px; 
        margin-bottom: 30px;
        text-align: center; 
       
    }
    .home .content p{
        font-size: 1.5rem; 
        margin-bottom: 30px;
        text-align: center; 
    }
    
    .home .wrap{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    .home .wrap .content{
        text-align: left;
        padding:1rem;
         
    }
    .home .wrap .content .home-btn{
        background-color: #FEF8EA;
        color: #105D8C;
        border: none;
        border-radius: 40px; /* Adjust the border-radius for roundness */
        padding: 14px 40px 15px 40px;
        margin-left: 0px;
        font-weight: bold;
        font-size: auto;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    .home .wrap .content  .home-btn:hover{
        background: var(--blue1);
        color: #fff;
    }
    .animatedtales .column1 .box .btn{
        background-color: #2D98AB;
        color: #FEF8EA;
        border: none;
        border-radius: 40px; /* Adjust the border-radius for roundness */
        padding: 8px 20px 8px 20px;
        font-size: 8px;
        cursor: pointer;
        transition: background-color 0.3s;
        margin-top: -100px;
        margin-left: 30px;
    }
    
    .animatedtales .column2 .box-container{
        display: inline;
        padding:0;
        
    }
    .animatedtales .column1 .title{
        text-align: center;
    }
    .animatedtales .column2 .title{
        font-size: 3rem;  
        margin-top: 20px; 
        color: #4681A1;
        text-align: center;
    }
    .animatedtales .column2 .box-container .box{
      margin: 5px;
      padding: 10px;
      margin-bottom: 50px;
    }

    .abt .row .content{
        margin-top: -50px;
        margin-left: 0;
        margin-bottom: 50px;
    }
    
    
    .footer-container {
        display: inline;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    
      }
    .left{
        margin-left: 0px;
      }
      .left h2 {
        margin-bottom: 0px;
        margin-top: 0px;
        
      }
      .right .social-links {
        padding: 0;
        margin-right:0px;
        margin-top: 30px;
        margin-left: 120px;
      }
      .right{
        margin-right: 0px;
      }

        .abt{
            height: 100vh;
          
        }
        .abt .row .image img{
            margin-top: -50px;
            width: 90%;
            height: 90%;
            margin-right: 0px;
        }
        .abt-home{
            background-size: cover;
            background-attachment: fixed;
        }

        .abt-home .content h1{
            font-size:2.8rem;  
            margin-top: 0;
        }
        
        .abt-home .wrap .content{
            padding: 0;
        }
        .abt-home .wrap .content img{
            width: 100px;
            margin-bottom: 60px;
            margin-top: 250px;
        }


        .abt-sect .column2 .title{
            font-size: 20px;
            margin-bottom: 0px;
            color: rgba(16, 93, 140, 1);
            text-align: center;
            
        }
        .abt-sect .column2 .box-container{
            display: block;
            padding:0;
        }
        .abt-sect .column2 .box-container .box{         
            margin: 5px;         
        }
        .abt-sect .column2 .box-container .box img{
            width: 50%;
            height: 150px;
            border-radius: 100%;
            margin:30px;
            padding: 0px;
            margin-left: 80px;
        }
        
        .abt-sect{
            padding: 0 5rem;
            margin: 20px;
            display: block;
            margin-left: 0%;
            margin-right: 0%;
        
        }
        .tales-home .wrap h1{
            font-size:2.5rem;  
            font-weight: bold;
            margin: 0px;
            padding: 0;
            text-align: center;
            margin-top: 150px;
        }
          .tales-home{
            padding: 0px;
        }
        .tales-main .tales .wrap .content{
            padding:8rem;
             
        }
        .tales-main .tales .content h1{
            font-size:4.5rem;  
            margin-bottom: 20px;
            color: #FEF8EA;
        }
        .tales-main .tales .content p{
            font-size: 2.5rem;  
            margin-bottom: 30px;
            color: #FEF8EA;
        }
        .tales-main .tales .wrap .content .tales-btn{
            font-size: 15px;
        }
        .tales-main .tales{
            background-repeat:no-repeat;
            background-position:center;
        }
        .modal .modal-dialog .modal-content .btn{
            padding: 5px 15px 5px;
            margin-left: 0px;
            font-size: 5px;
            margin-top: 0px;
            margin-left: 0;
            text-align: center;
            margin: 0;
            
        }
        .modal .modal-dialog .modal-content h5{
            font-size: 1.0rem;
            margin-left: 0;
            font-weight: bold;
        }
        .modal .modal-dialog .modal-content .btn-secondary{
            margin-right: auto;
        }
        .modal .modal-dialog .modal-content .btn-prev{
           margin: auto;
        }
        .modal .modal-dialog .modal-content .dropdown .dropdown-menu{
            border-radius: 100px;
            padding: 5px 15px 5px;
        }

}
@media screen and (max-width:768px){
    html{
        font-size: 45%;

    }
    
}
  
@media screen and (max-width:430px){
    html{
        font-size: 48%;
    }
    .home{
        height: 100vh;
    }

    .home .content h1{
        font-size: 2.5rem;
        margin-top: 100px;
        margin-left: 15px;
    }
    .home .content p{
        font-size: 1.3rem;
        margin-left: 15px;
    }
    .home .wrap .content .home-btn{
        background-color: #FEF8EA;
        color: #105D8C;
        border: none;
        border-radius: 40px;
        padding: 10px 40px 12px 40px;
        font-weight: bold;
        font-size: 1.5rem;
        margin-left: 45px;
    }
    
    .home .wrap .girl img{
        display: block;
        margin-top: 0px;
        margin-bottom: -20px;
        width: 100%;
        height: 100%;
        z-index: 1; 
    }
    .animatedtales {
        z-index: 2;
    }
    
}
@media screen and (max-width:390){
    html{
        font-size: 40%;
    }
    .home .wrap .girl img{
        display: none;

    }
}
section{text-align: center; font-size: 1.5rem;}




